@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Courier Prime', monospace;
    color: #e0e0e0;
    background: #0a0a0a;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}

h2{
    text-align: left;
    font-family: 'Courier Prime', monospace;
    font-size: 0.8rem;
    color: #e0e0e0;
}

h3{
    text-align: left;
    font-family: 'Courier Prime', monospace;
    font-size: 0.8rem;
    color: #e0e0e0a0;
}

p{
    text-align: left;
    color: #e0e0e0c9;
}

video {
    position: relative;
    width: 400px;
    height: 300px;
    z-index: 1;
    object-fit: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-top:-20;
}

.image-holder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

.heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.heading-row h2,
.heading-row h3 {
    margin: 0;
}

.spacer {
    padding-top: 10px;
}

.container {
    
    width: 650px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 15vh;
}

.name-title {
    font-family: 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
}

.badge {
    font-family: 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    background: rgb(255, 0, 0);
    color: #ffffff;
    padding: 2px;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}